@import "mocha.css";
* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
}

window#waybar {
  background-color: @base;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px 7px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  font-size: 20px;
  padding: 0 12px;
  color: @subtext0;
}

#workspaces button:nth-child(1):not(.empty) {
  color: @red;
}

#workspaces button:nth-child(2):not(.empty) {
  color: @mauve;
}

#workspaces button:nth-child(3):not(.empty) {
  color: @blue;
}

#workspaces button:nth-child(4):not(.empty) {
  color: @green;
}
#workspaces button:nth-child(5):not(.empty) {
  color: @yellow;
}
#workspaces button:nth-child(6):not(.empty) {
  color: @rosewater;
}

#clock {
  color: @peach;
}

#battery {
  color: @green;
}

#battery,
#cpu,
#memory,
#temperature,
#backlight,
#custom-power,
#custom-music,
#network,
#bluetooth,
#custom-notification,
#pulseaudio {
  padding: 0 5px;
}

#memory {
  color: @yellow;
}

#window,
#workspaces {
  margin: 0 6px;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5em / 5em;
  padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: @base;
  }
}

label:focus {
  background-color: @base;
}

#network.disconnected {
  background-color: #f38ba8;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-power {
  color: @base;
  background-color: @red;
}

#bluetooth {
  color: @teal;
}

#bluetooth .icon {
  color: @base;
  background-color: @blue;
  border-radius: 5em / 5em;
  padding: 0 10px;
}

#network {
  color: @mauve;
}

#custom-notification {
  color: @lavender;
}

#tray {
  padding: 0 10px;
}
