@import "mocha.css";
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
}

window#waybar {
  background-color: @center-bg;
  color: @text;
  border-radius: 0;
  padding: 15px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  font-size: 20px;
  padding: 0 12px;
  color: @text-muted;
}

#workspaces button:nth-child(1):not(.empty) {
  color: @accent-1;
}

#workspaces button:nth-child(2):not(.empty) {
  color: @accent-2;
}

#workspaces button:nth-child(3):not(.empty) {
  color: @accent-3;
}

#workspaces button:nth-child(4):not(.empty) {
  color: @accent-4;
}
#workspaces button:nth-child(5):not(.empty) {
  color: @accent-5;
}
#workspaces button:nth-child(6):not(.empty) {
  color: @accent-6;
}

#clock {
  color: @accent-peach;
}

#battery {
  color: @accent-4;
  padding: 0 10px 0 10px;
}

#cpu,
#memory,
#temperature,
#backlight,
#custom-power,
#custom-music,
#network,
#bluetooth,
#custom-notification,
#pulseaudio {
  padding: 0 5px;
}

#memory {
  color: @accent-5;
}

#window,
#workspaces {
  margin: 0 6px;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5em / 5em;
  padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: @on-accent;
  }
}

label:focus {
  background-color: @focus-bg;
}

#network.disconnected {
  background-color: #f38ba8;
}

#pulseaudio {
  color: @accent-pink;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-power {
  color: @on-accent;
  background-color: @urgent;
}

#bluetooth {
  color: @accent-teal;
}

#bluetooth .icon {
  color: @on-accent;
  background-color: @accent-blue;
  border-radius: 5em / 5em;
  padding: 0 10px;
}

#network {
  color: @accent-2;
}

#custom-notification {
  color: @accent-3;
}

#tray {
  padding: 0 10px;
}
