@import "~/.config/hypr/colors/mocha/mocha.rasi"

* {
    background:     @base;
    background-alt: @surface0;
    foreground:     @text;
    selected:       @lavender;
    active:         @green;
    urgent:         @red;
}
