@define-color rosewater #f5e0dc;
@define-color flamingo  #f2cdcd;
@define-color pink      #f5c2e7;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;
@define-color maroon    #eba0ac;
@define-color peach     #fab387;
@define-color yellow    #f9e2af;
@define-color green     #a6e3a1;
@define-color teal      #94e2d5;
@define-color sky       #89dceb;
@define-color sapphire  #74c7ec;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color text      #cdd6f4;
@define-color subtext1  #bac2de;
@define-color subtext0  #a6adc8;
@define-color overlay2  #9399b2;
@define-color overlay1  #7f849c;
@define-color overlay0  #6c7086;
@define-color surface2  #585b70;
@define-color surface1  #45475a;
@define-color surface0  #313244;
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

* {
  background-image: none;
}
window {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12pt;
  color: @text;
  background-color: alpha(@crust, 0.7);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border: none;
  color: @text;
  text-shadow: none;
  border-radius: 20px;
  background-color: transparent;
  margin: 5px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

#lock {
  background-image: url('./icons/lock.png');
}
#lock:focus,
#lock:hover {
  background-image: url('./icons/lock-hover.png');
  background-color: @green;
}

#logout {
  background-image: url('./icons/logout.png');
}
#logout:focus,
#logout:hover {
  background-image: url('./icons/logout-hover.png');
  background-color: @red;
}

#suspend {
  background-image: url('./icons/sleep.png');
}
#suspend:focus,
#suspend:hover {
  background-image: url('./icons/sleep-hover.png');
  background-color: @teal;
}

#shutdown {
  background-image: url('./icons/power.png');
}
#shutdown:focus,
#shutdown:hover {
  background-image: url('./icons/power-hover.png');
  background-color: @peach;
}

#reboot {
  background-image: url('./icons/restart.png');
}
#reboot:focus,
#reboot:hover {
  background-image: url('./icons/restart-hover.png');
  background-color: @pink;
}
